name: Deploy to DomaiNesia

on:
  push:
    branches:
      - main  # Branch yang dipantau untuk perubahan

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}        # 36.50.77.81
          username: ${{ secrets.SSH_USER }}    # ruangdid
          key: ${{ secrets.SSH_PRIVATE_KEY }}  # private key dari GitHub Secrets
          port: 64000                          # port SSH DomaiNesia
          script: |
            cd /home/ruangdid/app.ruanglari.com
            git pull origin main
            composer install --no-dev
            php artisan migrate --force
            php artisan db:seed
            php artisan cache:clear
            php artisan view:clear
            php artisan optimize:clear
