name: Deploy to Domainesia

on:
  push:
    branches:
      - main  # Branch yang dipantau untuk perubahan. Biasanya adalah 'main' atau 'master'

jobs:
  deploy:
    runs-on: ubuntu-latest  # Menjalankan workflow di Ubuntu environment

    steps:
    - name: Checkout code
      uses: actions/checkout@v2  # Checkout kode dari GitHub repository

    - name: Setup SSH
      uses: webfactory/ssh-agent@v0.5.3  # Mengatur SSH untuk autentikasi dengan server hosting
      with:
        ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}  # Menggunakan private SSH key yang sudah disimpan di GitHub Secrets

    - name: Deploy to cPanel
      run: |
        ssh -o StrictHostKeyChecking=no username@yourdomain.com "cd /home/ruangdid/public_html/app.ruanglari.com && git pull origin main && composer install --no-dev"
      # SSH ke server hosting dan menarik perubahan terbaru, serta menginstal dependensi Laravel
